.all{
  height:100%;
  width:100%;
}

body, html{
  height:100%;
}

.right{
  float:right;
  display:inline-block;
}

.left{
  float:left;
  display:inline-block;
}

.img{
  border-radius:100%;
}

.aestheticness{
  color:rgb(10,200,200);
}
