.all{
  height:100%;

  width:100%;
  /*height:auto;*/
}

body, html{
  height:100%;
}

.right{
  float:right;
  display:inline-block;
}

.left{
  float:left;
  display:inline-block;
}

.img{
  border-radius:100%;
}

.aestheticness{
  color:rgb(10,200,200);
}

.nav-link{
  color:rgb(10,200,200);
}

.lightMode{
  color:black;
}

.darkMode{
  color:white;
}

.darkModeB{
  background-color:rgb(20,20,23);
}

.lightModeB{
  background-color:white;
}
